@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.recharts-cartesian-axis-tick-value,
.recharts-text {
  fill: currentColor;
}

.dark .recharts-cartesian-grid-horizontal line,
.dark .recharts-cartesian-grid-vertical line {
  stroke: #334155;
}

.dark .recharts-legend-item-text {
  color: #cbd5e1 !important;
}
